/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


.text-dark {
    color: #000 !important;
}

/* Estilos para el navbar */
.navbar {
    background-color: #000;
}

.navbar-nav {
    justify-content: center;
}

.nav-item {
    margin-right: 20px;
}

/* Estilos para la sección con borde */
.bordered-section {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px 0;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #fff;
    background-color: transparent;
}

button[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para las cajas de producto */
.product-box {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.product-inner-box .icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0; 
    gap: 4px;
    top: 12%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.product-inner-box img {
    box-shadow: 0px 33px 61px -29px rgb(0 0 0/ 10%);
    height: auto;
    width: 100%;
    object-fit: cover; 
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.cart-btn a {
    border-radius: 50px;
    background-color: #000;
    border: 1px solid #ffffff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    padding: 6px 16px;
    text-decoration: none;
}

.cart-btn a:hover {
    background-color: #920000;
    color:white;
}

.product-box:hover .cart-btn {
    opacity: 1;
}

/* Estilos para la sección de ventajas */

.advantages-section{
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.advantage-icon {
    font-size: 48px;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
  }

.advantage-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
}

/* Estilos para el footer */
.footer {
    background-color: #111;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
margin-top: auto;
}

